[user]
  name = root
  email = root@tipi
[alias]
  ci = commit
  l = log --oneline
  stat = status --short
  st = status --short
  co = checkout
  br = branch
[push]
  default = matching
[safe]
  directory = *
[init]
  defaultBranch = main
