# - makefile -
# (C) 2023 Joerg Jungermann, GPLv2 see LICENSE

# EXAMPLE config for docker-images/Makefile.Dockerfile.generic
# copy to ./config

# ignore auto-build of docker images, as they will be automatically build
# as base of this config
#DOCKER_IMAGES :=

# generate all rpi docker images
#DOCKER_IMAGES += $(shell ls -1d rpi*Dockerfile.d | sed 's/.Dockerfile.d//')
# generate all OptAlpine images
#DOCKER_IMAGES += $(shell ls -1d *-OptAlpine*.Dockerfile.d | sed 's/.Dockerfile.d//' )

# reset WORK_FILES and add which images we want
WORK_FILES :=

#WORK_FILES += output/bpi2m0-armbian-bookworm-next.rootfs.tar.zst

#WORK_FILES += output/rpi64-raspios-lite-base.rootfs.tar.zst
#WORK_FILES += output/rpi64-raspios-lite-zfs.rootfs.tar.zst
#WORK_FILES += output/rpi64-raspios-lite-birdnet.rootfs.tar.zst

# vim: noet ts=2 sw=2 ft=Makefile
