# grub.cfg - header - common function and common boot targets

# hand over between TFTO to HTTP, adapt!

# get current service ip and port, works if booted via stage1 or standalone
    regexp --set 1:netboot_service_ip '^.*,(.+)$' "$root"
    set netboot_service_ip="$netboot_service_ip:69"
    set root="http,$netboot_service_ip"

# vim: ts=4 sw=0 et foldmethod=indent foldignore= foldminlines=0
