# grub.cfg - header - common function and common boot targets

# pre-load some modules so that grub.cfg from disk will not crash due to binary incompatibility
    insmod part_msdos         # partitions
    insmod part_gpt
    insmod ext2               # filesystems
    insmod fat
    insmod configfile         # configfiles and linux loading
    insmod linux
    insmod linuxefi

# some video settings
    if [ ${grub_platform} == "efi" ]; then
        insmod efi_gop
        insmod efi_uga
        insmod video_bochs
        insmod video_cirrus
    fi
    if [ ${grub_platform} == "pc" ]; then
        insmod vbe
        insmod vga
        insmod video_bochs
        insmod video_cirrus
    fi
    font="($root)/grub/fonts/unicode.pf2"

# probe for defaults
    unset default
    unset fallthrough
    unset wait
    unset cloudinit
    for env_file in DEFAULT $net_default_mac $net_default_ip $net_pxe_hostname ; do
        echo "probing for defaults for $env_file"
        if load_env --file $prefix/env/$env_file default fallthrough wait preseed_options cloudinit; then
            echo "found defaults for $env_file"
        fi
    done

# probe for a local grub in /grub"
    grub_img="core.img"
    echo "probing for a local grub in /grub"
    if [ "${grub_platform}" = "pc" ]; then
        if search --file --no-floppy /grub/${grub_cpu}-${grub_platform}/${grub_img} --set root_grub2; then
            menuentry "local: /grub/${grub_cpu}-${grub_platform}/${grub_img} ($root_grub2)" --id=local-grub2 {
                set root=$root_grub2
                multiboot ($root_grub2)/grub/${grub_cpu}-${grub_platform}/${grub_img}
            }
            if test -z "$default"; then
                set default=local-grub2
            fi
        elif search --file --no-floppy /grub/grub.cfg --set root_grub2; then
            menuentry "local: /grub/grub.cfg ($root_grub2)" --id=local-grub2 {
                set root=$root_grub2
                set prefix=($root_grub2)/grub
                configfile /grub/grub.cfg
            }
            if test -z "$default"; then
                set default=local-grub2
            fi
        else
            echo "probing for a local grub in /boot/grub"
            if search --file --no-floppy /boot/grub/${grub_cpu}-${grub_platform}/${grub_img} --set root_grub2_boot; then
                menuentry "local: /boot/grub/${grub_cpu}-${grub_platform}/${grub_img} ($root_grub2_boot)" --id=local-grub2 {
                    set root=$root_grub2_boot
                    multiboot /boot/grub/${grub_cpu}-${grub_platform}/${grub_img}
                }
                if test -z "$default"; then
                    set default=local-grub2
                fi
            elif search --file --no-floppy /boot/grub/grub.cfg --set root_grub2_boot; then
                menuentry "local: /boot/grub/grub.cfg ($root_grub2_boot)" --id=local-grub2 {
                    set root=$root_grub2_boot
                    set prefix=($root_grub2)/boot/grub
                    configfile /boot/grub/grub.cfg
                }
                if test -z "$default"; then
                    set default=local-grub2
                fi
            fi
        fi
    elif [ "${grub_platform}" = "efi" ]; then
        if search --file --no-floppy /grub/grub.cfg --set root_grub2; then
            menuentry "local: /grub/grub.cfg ($root_grub2)" --id=local-grub2 {
                set root=$root_grub2
                set prefix=($root_grub2)/grub
                configfile /grub/grub.cfg
            }
            if test -z "$default"; then
                set default=local-grub2
            fi
        elif search --file --no-floppy /boot/grub/grub.cfg --set root_grub2; then
            menuentry "local: /boot/grub/grub.cfg ($root_grub2)" --id=local-grub2 {
                set root=$root_grub2
                set prefix=($root_grub2)/boot/grub
                configfile /boot/grub/grub.cfg
            }
            if test -z "$default"; then
                set default=local-grub2
            fi
        fi
        for g in (*)/EFI/*/grubx64.efi; do
            if [ -e $g ]; then
                menuentry "local: grub EFI ($g)" --id=local-grub2-efi {
                    chainloader $g
                }
                if test -z "$default"; then
                    set default=local-grub2-efi
                fi
            fi
        done
    fi

# probe for a local windows 2000, xp, vista, 7, 10 BIOS flavor"
    if [ "${grub_platform}" = "pc" ]; then
        echo "probing for a local Windows in /bootmgr"
        if search --file --no-floppy /bootmgr --set root_bootmgr; then
            menuentry "local: Windows /bootmgr ($root_bootmgr)" --id=local-bootmgr {
                insmod ntldr
                set root=$root_bootmgr
                ntldr (${root})/bootmgr
            }
            if test -z "$default"; then
              set default=local-bootmgr
            fi
        fi

        echo "probing for a local Windows in /ntldr"
        if search --file --no-floppy /ntldr --set root_ntldr; then
            menuentry "local: Windows /ntldr ($root_ntldr)" --id=local-ntldr {
                insmod ntldr
                set root=$root_ntldr
                ntldr (${root})/ntldr
            }
            if test -z "$default"; then
              set default=local-ntldr
            fi
        fi
    fi

# probe for a local windows 2000, xp, vista, 7, 10 UEFI flavor"
    if [ "${grub_platform}" = "efi" ]; then
        if search --file --no-floppy /EFI/Microsoft/Boot/bootmgfw.efi --set root_bootmgr; then
            menuentry "local: Windows /bootmgr ($root_bootmgr)" --id=local-bootmgr {
                set root=$root_bootmgr
                chainloader (${root})/EFI/Microsoft/Boot/bootmgfw.efi
            }
            if test -z "$default"; then
              set default=local-bootmgr
            fi
        fi
    fi

# probe for local EFI boot"
    if [ "${grub_platform}" = "efi" ]; then
        echo "probing for a local EFI boot"
        if search --file --no-floppy /EFI/BOOT/bootx64.efi --set root_efi; then
            menuentry 'local: EFI ($root_efi)' --id=local-efi {
                set root=$root_efi
                chainloader (${root})/EFI/BOOT/bootx64.efi
            }
        fi
    fi

# vim: ts=4 sw=0 et foldmethod=indent foldignore= foldminlines=0
