# vim: foldmethod=indent ts=2 et sw=2

if [ "${grub_cpu}-${grub_platform}" = "arm64-efi" ]; then
  menuentry "bf2 DOCA LTS install - nicmode" --id=bluefield-doca-lts-install-nicmode {
      # common kernel parameters
      set img="/images/bf-doca/bluefield-doca-lts.vmlinuz"
      set cmdline=
      set cmdline="$cmdline console=hvc0,115200"
      set cmdline="$cmdline console=ttyAMA0,115200"

      # original bootflow
      #set initrd="/images/bf-doca/bluefield-doca-lts.vanilla.initramfs.gz"

      # split initrd and rootfs
      #set initrd="/images/bf-doca/bluefield-doca-lts.initramfs.xz"
      #set cmdline="$cmdline bf_img_url=http://$netboot_service_ip/images/bf-doca/bluefield-doca-lts.rootfs.tar.xz"

      # small trampoline initrd to initrd to rootfs
      set initrd="/images/bf-doca/bluefield-doca-lts-pxe-speedrun.initramfs.xz"
      set cmdline="$cmdline bf_initrd_url=http://$netboot_service_ip/images/bf-doca/bluefield-doca-lts.initramfs.xz"
      set cmdline="$cmdline bf_img_url=http://$netboot_service_ip/images/bf-doca/bluefield-doca-lts.rootfs.tar.xz"

      # small trampoline initrd to vanilla initrd
      #set initrd="/images/bf-doca/bluefield-doca-lts-pxe-speedrun.initramfs.xz"
      #set initrd="$cmdline bf_initrd_url=http://$netboot_service_ip/images/bf-doca/bluefield-doca-lts.vanilla.initramfs.gz"

      # config pre-seeding
      set cmdline="$cmdline bfks=http://$netboot_service_ip/images/bf-doca/nicmode.bfks"

      echo    "root ($root)"
      echo    "load $img $cmdline"
      linux   "$img" $cmdline
      echo    "load $initrd"
      initrd  "$initrd"
  }
fi
