if [ ${grub_platform} == "efi" ]; then
  if [ ${grub_cpu} == "arm64" ]; then
    set jetpack_version=7.2.1
    
    menuentry "L4t NVidia JetPack $jetpack_version Live" --id=nv-jetpack7.2.1-live {
      set img="/images/l4t/l4t-jetpack$jetpack_version.vmlinuz"
      set initrd="/images/l4t/l4t-jetpack$jetpack_version.initramfs.xz"

      set cmdline=
      set cmdline="$cmdline fbcon=map:0"
      set cmdline="$cmdline net.ifnames=0"
      set cmdline="$cmdline console=ttyTCU0,115200"
      #set cmdline="$cmdline root=live:"
      set cmdline="$cmdline root=initrd"
      
      echo linux   $img
      echo cmdline $cmdline
      echo initrd  $initrd

      linux  $img $cmdline
      initrd $initrd
    }
  fi
fi

# vim: ts=2 et sw=0
