# grub.cfg - footer - set timeout and start menu

if test -n "$default"; then
    set timeout=10
    if test -n "$wait"; then
        set timeout=$wait
    fi
elif test -n "$fallthrough"; then
    set default="$fallthrough"
    if test -n "$wait"; then
        set timeout=$wait
    fi
fi

# vim: sw=4 ts=4 et foldmethod=indent foldignore= foldminlines=0
