[Unit]
Description=Ensure machine-id initialized
Before=systemd-networkd.service
After=local-fs.target
ConditionPathIsReadWrite=/etc
ConditionPathExists=!/etc/machine-id

[Install]
WantedBy=sysinit.target

[Service]
RemainAfterExit=no
Type=oneshot
ExecStart=/bin/systemd-machine-id-setup
